<ion-view view-title="评论">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list" collection-repeat="question in questions">

            <a class="item item-avatar" ng-click="goDetail($index)">
                <img src="img/question.jpg">
                <h2>{{question.question}}</h2>
                <p>答案:{{question.answer}}</p>
                <p>回答人:{{question.doctor.name}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>