
<ion-view view-title="浏览">

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

            <div class="list card" ng-repeat="question in questions">

                <form ng-submit="addPost()">
                    <div class="item item-body">


                        <h2>{{question.question}}</h2>

                        <div class="list">
                            <label>我来回答：</label>
                            <label class="item item-input">
                                <textarea placeholder="请输入您的答案" ng-model="answers[$index]" rows="10" cols="20"
                                          style="overflow: auto;" maxlength="200"></textarea>
                            </label>
                        </div>

                    </div>
                </form>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="answer($index)">
                        <i class="icon ion-chatbox"></i>
                        回答
                    </a>
                    <a class="tab-item" ng-click="reject($index)">
                        <i class="icon ion-share"></i>
                        拒答
                    </a>
                </div>
            </div>

    </ion-content>
</ion-view>