<ion-view view-title="认领问题">

    <ion-content cache-view="false">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list" ng-repeat="question in questions">

            <a class="item item-avatar item-text-wrap" style="margin-bottom:-30px;">
                <img src="{{question.doctor==null?'img/question.jpg':SERVER.url + '/images/' + $root.user.image}}">


                <h2 id="{{'question'+$index}}">{{question.question}}</h2>

                <div class="item item-input  item-stacked-label">
                    <textarea ng-model="question.answer" ng-click="$event.stopPropagation();"
                              style="height:100px;"></textarea>
                </div>

                <!--    Iterate through all images and display them end to end as thumbs -->
                <!--<div style="white-space: nowrap; overflow-x: auto;  overflow-y: hidden;">-->
                    <!--<div style="display:inline-block;width:50px;padding:1px; margin-top:5px; margin-bottom: 1px" ng-repeat="image in images">-->
                        <!--<img width="100%" src="{{image.src}}" ng-click=""/>-->
                    <!--</div>-->
                <!--</div>-->

                <button   ng-class="{true:'button  button-full button-positive',false:'button  button-full button-balanced' }[question.doctor==null]"
                        ng-click="answer($index)">
                    {{question.doctor== null ? "认领" : "已认领"}}
                </button>

            </a>

        </div>


        <!--<div class="list " ng-repeat="question in questions">-->
        <!--<div class="item item-body">-->

        <!--<h2>{{question.question}}</h2>-->

        <!--<div class="list">-->
        <!--<label>我来回答：</label>-->
        <!--<label class="item item-input">-->
        <!--<textarea placeholder="请输入您的答案" ng-model="question.answer" rows="10" cols="20"-->
        <!--style="overflow: auto;" maxlength="200"></textarea>-->
        <!--</label>-->
        <!--</div>-->

        <!--</div>-->

        <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--<a class="tab-item" ng-click="answer($index)">-->
        <!--<i class="icon ion-chatbox"></i>-->
        <!--认领-->
        <!--</a>-->
        <!--<a class="tab-item" ng-click="reject($index)">-->
        <!--<i class="icon ion-share"></i>-->
        <!--放弃-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->

    </ion-content>
</ion-view>