<ion-view view-title="过滤">

<ion-content>
    <div class="list" ng-repeat="child_category in category">

        <div class="item item-divider">
             {{child_category.name}}
            </div>

        <li class="item item-checkbox" ng-repeat="child in child_category.child_depart" >

        <label class="checkbox">
                <input type="checkbox"  ng-true-value="'YES'" ng-false-value="'NO'" ng-model="selected[child_category.name][$index];">
            </label>
            {{child}}
        </li>




    </div>
</ion-content>
</ion-view>