<ion-view view-title="评论">

    <ion-content>

        <div class="item item-avatar item-text-wrap" >
            <img src="{{SERVER.url+'/images/'+question.doctor.image}}"/>
            <h2>问题:{{question.question}}</h2>
            <p ng-if="edit != true">答案:{{question.answer}}</p>
            <p ng-if="edit==true">答案:<textarea style="height: 100px;width: 100%" ng-model="question.answer"></textarea></p>
            <div class="row "  >
                <div class="col col">

                    <i ng-click="$event.stopPropagation();collection()"
                       ng-class="{true:'ion-android-favorite xx-larger',false:'ion-android-favorite-outline xx-larger'}[ $root.user.collections.indexOf(question._id) !=-1]"> </i>
                   {{question.collectionNumber}}

                </div>
                <div ng-if="$root.user._id == question.doctor._id "  class="col">
                    <i ng-click="MyModify()"
                       class="ion-compose xx-larger"> </i>{{edit == true? "提交" : "修改"}}
                </div>


            </div>
        </div>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

            <div class="list" collection-repeat="comment in comments">
                <a class="item item-avatar item-text-wrap">
                    <img src="{{SERVER.url+'/images/'+comment.doctor.image}}">
                    <h2>评论内容:{{comment.content}}</h2>
                    <p>评论时间:{{comment.commentTime}}</p>
                    <p>评论人:{{comment.doctor.name}}</p>
                </a>
            </div>

        <!--<form name="sendMessageForm" ng-submit="sendComment()" novalidate>-->

            <!--<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>-->
            <!--<label class="item-input-wrapper">-->
            <!--<input type="text" placeholder="评论" ng-model="myComment">-->
            <!--</label>-->
            <!--<button class="button button-small" type="submit">-->
            <!--发表评论-->
            <!--</button>-->
            <!--</ion-footer-bar>-->
        <!--</form>-->


        <!--<div class="bar bar-footer">-->
            <!--<label class="item-input-wrapper">-->
                <!--<input type="text" placeholder="Email">-->
            <!--</label>-->
            <!--<button class="button button-small">-->
                <!--发表评论-->
            <!--</button>-->

        <!--</div>-->

        <!--<div class="bar bar-footer">-->
            <!--<label class="item-input-wrapper">-->
            <!--<input type="text" placeholder="评论" ng-model="myComment">-->
            <!--</label>-->
            <!--<button class="button button-small" ng-click="sendComment">-->
            <!--发表评论-->
            <!--</button>-->
        <!--</div>-->
    </ion-content>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" style="position: fixed;" keyboard-attach>
        <label class="item-input-wrapper ">
            <input type="text" placeholder="评论" ng-model="data.content">
        </label>
        <button class="button button-small" on-tap="sendComment()">
            发表评论
        </button>
    </ion-footer-bar>
</ion-view>
