<ion-view view-title="找回密码" >

    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">重设密码</span>
                <input type="text" ng-model="data.password"/>
            </label>
            <label class="item item-input">
                <span class="input-label">验证码</span>
                <input type="text" ng-model="data.vcode"/>
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="reset()">确定</button>
    </ion-content>
</ion-view>