<ion-view view-title="历史">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list" collection-repeat="question in questions">

            <a class="item item-avatar" ng-click="goDetail($index)">
                <img src="img/question.jpg">
                <h2>{{question.question}}</h2>

                <div class="item item-input item-stacked-label" >
                    <textarea ng-model="question.answer"   ng-click="$event.stopPropagation();" style="height:50px;"></textarea>
                </div>
                <button class="button button-full button-positive" ng-click="$event.stopPropagation();modify($index)">
                    修改
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>