<ion-view view-title="我的问题">
    <ion-content>

        <ion-refresher
                pulling-text="下拉更新"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list" ng-repeat="question in questions">

            <a class="item item-avatar item-text-wrap" ng-click="goDetail($index)" ng-style="{'background-color':$index%2==0?'white':'darkgray'}" style="margin-bottom:-30px;">

                <img src="{{SERVER.url+'/images/'+question.doctor.image}}">

                <div class="row" >
                    <div class="col col-90 ">
                        <h2 id="{{'question'+$index}}">{{question.question}}</h2>

                        <p>修改时间:{{ question.answerTime | amDateFormat:'YYYY-MM-DD, h:mm:ss'}}</p>

                        <p>收藏次数:{{question.collectionNumber}} 评论次数:{{question.comments.length}}</p>

                    </div>
                    <div class="col col-center " >
                       <i class=" text-center ion-ios-arrow-right"></i>
                    </div>
                </div>
            </a>
        </div>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" immediate-check="true" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>