<ion-view view-title="登录" name="login-view">


    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">手机号</span>
                <input type="text" ng-model="person.name">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="person.age">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Login</button>
        <div class="row">
            <div class="col text-left">
        <a class="button button-clear button-positive pull-right" ng-click="register()">
            注册
        </a></div><div class="col text-right">
        <a class="button button-clear button-positive pull-left" ng-click="forgetPassword()">
            忘记密码
        </a></div></div>
    </ion-content>
</ion-view>