<ion-view view-title="个人信息">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" ng-model="person.name">
            </label>
            <label class="item item-input">
                <span class="input-label">岁数</span>
                <input type="text" ng-model="person.age">
            </label>
            <label class="item item-input">
                <span class="input-label">性别</span>
                <input type="text" ng-model="person.sex">
            </label>
        </div>
    </ion-content>
</ion-view>