<ion-view view-title="个人信息">

    <ion-content class="padding">

        <div class="list">

            <div  class="item item-input">
                <span class="input-label">头像</span>

                <a ng-click="changeImage()" ><img style="text-align:right" width="30" height="30" src="{{$root.userImageUrl}}" ></a>
            </div>
            <div class="item item-input"  >

                    <span class="input-label">姓名</span>
                    <input type="text" ng-model="user.name" ng-change="update()">


            </div>
            <div class="item item-input item-icon-right" ng-click="changePassword()"  >
                <span class="input-label">更改密码</span>

                    <i class="icon ion-ios-arrow-right"></i>


            </div>

            <button class="button button-block button-assertive" ng-click="logout()">注销</button>
        </div>


    </ion-content>
</ion-view>