<ion-view view-title="注册" >

    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">爱爱医用户名</span>
                <input type="text" ng-model="data.name"/>
            </label>
            <label class="item item-input">
                <span class="input-label">真实姓名</span>
                <input type="text" ng-model="data.trueName"/>
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="text" ng-model="data.password"/>
            </label>
            <label class="item item-input">
                <span class="input-label">验证码</span>
                <input type="text" ng-model="data.vcode"/>
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="register()">注册</button>
    </ion-content>
</ion-view>