/* Empty. Add your own CSS if you like */
/*.list .item.item-accordion {*/
    /*line-height: 38px;*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    /*transition: 0.09s all linear;*/
/*}*/
/*.list .item.item-accordion.ng-hide {*/
    /*line-height: 0px;*/
/*}*/
/*.list .item.item-accordion.ng-hide-add,*/
/*.list .item.item-accordion.ng-hide-remove {*/
    /*display: block !important;*/
/*}*/
/*.scroll{height: 100%;}*/

/**/
.x-larger {
    font-size:  x-large;
}
.xx-larger {
    font-size:  xx-large;
}

.no-padding {
    padding: 0px !important;
}
.any_content{
    height: auto;
    min-height: 100%;
}
.border-around{
    border:1px solid rgba(2,2,2,0.1);
    border-radius: 6px;
    vertical-align: text-bottom;
}

html,body{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

*[contenteditable] {
    -webkit-user-select: auto !important;
}